/* 主容器 */
.container {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

/* 頁面上方按鈕置中 */
.top-nav {
  background-color: #acacac;
  color: white;
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.top-nav h2 {
  margin: 0 20px;
}

/* 導覽按鈕樣式 */
.nav-button {
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  background-color: #53535399;
  margin: 0 10px; /* 按鈕之間的間距 */
  border-radius: 50px; /* 圓弧型按鈕 */
  transition: background-color 0.3s, transform 0.2s;
  font-size: 18px;
  font-weight: bold;
}

.nav-button:hover {
  background-color: #484848;
  transform: scale(1.05); /* 放大效果 */
}

/* 主內容 */
.main-content {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* 學生卡片置中 */
  background-color: #fafafa;
}
/* 學生卡片 */
.student {
  background: white;
  border: 2.5px solid #616161;
  border-radius: 15px;
  padding: 20px;
  width: 275px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
}

.student:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.student h1 {
  font-size: 15px;
  margin: 0 0 10px;
  color: #2e2d48;
}

.student p {
  margin: 10px 0;
  font-size: 16px;
  color: #3f434a;
}

/* 無資料時 */
.no-data {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}

/* CSS for Student Management Component */
.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  background-color: #f9f9f9;
}

.btn {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.submit {
  padding: 10px 20px;
  background-color: #4caf50; /* 綠色 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #45a049; /* 更加明亮的綠色 */
}

.delete {
  padding: 10px 20px;
  background-color: #f44336; /* 紅色 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete:hover {
  background-color: #e53935; /* 更加明亮的紅色 */
}

/* StudentInfo.css */
.studentEdit {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
}

.studentEdit .info {
  margin-bottom: 10px;
}

.studentEdit .info p {
  margin: 0;
  font-weight: bold;
}

.studentEdit .info input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.studentEdit .info input:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}